@font-face {
  font-family: 'UTM Avo';
  src: url("../fonts/UTM Avo.ttf");
  font-weight: normal;
  font-style: normal; }
   @font-face {
  font-family: 'UTM AvoBold';
  src: url("../fonts/UTM AvoBold.ttf");
  font-weight: normal;
  font-style: normal; }
 body {
  font-family: 'UTM Avo' !important;
  color: #272727 !important;
  position: relative; 
  padding: 0;
  margin: 0;
}
img{
	max-width: 100%;
}
.bg-form{
	
}
.dangky{
	background-color: #fff;
	padding: 30px 0 0;
	.box_text_top {
		margin-bottom: 30px;
		.exam_box {
			font-size: 20px;
			margin: 30px 0;
		}
		h3 {
	    	margin-bottom: 30px;
	    }
	    p.box_border {
	    	display: inline-block;
		    color: #9f2d21;
		    font-weight: bold;
		    border: 2px dashed;
		    padding: 10px 25px;
		    border-radius: 10px;
		    font-size: 40px;
	    }
	    p{
			font-style: italic;
			font-size: 24px;
			color: #000;
			font-family: 'UTM AvoBold';
			text-align: center;
			margin: 0;
		}
	} 
	.form-dky{
	    padding: 0 10% 60px; 
	    margin-bottom: 50px;
		p.label{
			font-size: 30px;
			font-family: 'UTM AvoBold';
		    line-height: 35px;
		    color: #000;
		}
		.form-group{
			margin-bottom: 30px;
			input{
				background-color: #c7c8ca;
				height: 45px;
				border-radius: 5px;
				font-size: 30px;
			}
		}
		.send{
			input{
				float: right;
				background: url(../images/bg-submit.png);
				background-size: 100% 100%;
				color: #543727;
				text-transform: uppercase;
				font-size: 30px;
				font-family: 'UTM AvoBold';
				padding: 5px 30px;
			}
		}
	}
	// .main_footer {
	// 	background: #004861;
	// 	padding: 30px 0;
	// }
	.slogan{
		clear: both;
		
		p{
			font-style: italic;
			font-size: 24px;
			color: #fff;
			font-family: 'UTM AvoBold';
			text-align: center;
			margin: 0;
		}
	}
	.contact{
		background-color: #543727;
		padding: 10px 15px;
		border-radius: 25px;
	    margin-top: 20px;
		img.hotline {
		    margin-top: 5px;
		}
	}
}
@media (max-width: 992px) {
	.dangky .link {
	    padding: 0px;
	}
	.dangky .link .right p.url-link a {
	    font-size: 30px;
	}
	.dangky .slogan p {
	    font-size: 25px;
	}
	.dangky .slogan {
	    margin-top: 50px;
	}
	.dangky {
	    padding: 80px 0;
	}
	.dangky .link .right p.url-link a {
	    font-size: 20px;
	}
}
@media (max-width: 767px) {
    .dangky {
	    padding: 15px 0 0;
	    margin-top: 0;
	}
	.dangky .link .right p {
	    font-size: 20px;
	}
	
	.dangky .slogan p {
	    font-size: 18px;
	}
	.item img {
	    width: 100%;
	    max-width: inherit;
	    margin-left: 0;
	}
	.dangky .form-dky p.label {
        font-size: 15px;
	    padding-left: 0;
	    line-height: 15px;
	}
	.dangky .form-dky .form-group input {
	    margin-top: 10px;
	}
	.dangky .form-dky .send input {
	    font-size: 20px;
	}
	.dangky .form-dky {
	    padding: 0;
	    margin-bottom: 50px;
	}
	.dangky .form-dky .form-group {
	    margin-bottom: 10px;
	}
}
@media (max-width: 320px) {
	.dangky .slogan p {
	    font-size: 15px;
	}
}