/*main css*/
* {
  @include box-sizing(border-box);
  &:before,&:after{
    @include box-sizing(border-box);
  }
}
body{
  background:$bg_color;
  @include font_default;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  @include font_default;
}
a{
  color:$pri_link;
  text-decoration: none;
}
a:focus{
  outline: none;
}
ul{
  list-style:none;
  padding:0;
  margin:0;
} 
.container{
  width:$def_width;
  padding-left:0;
  padding-right:0;
  margin:0 auto;
}
.text-underline{
  text-decoration:underline !important;
}
.text-none{
  text-decoration:none !important;
}
.cursor-pointer{
  cursor:pointer !important;
}
.maincontent{
  font-size:14px;
  line-height:22px;
  p{
    font-size:14px;
    margin:0 0 5px;
  }
  img{
    max-width:100%;
    height:auto !important;
  }
}
.nodata{
  padding:10px 0;
}
.owl-carousel .owl-item img{
  transform-style:flat;
}
.clearfix{
  display: block;
  &:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.sp{
  display: none !important;
}
/*end main css*/
/*grid all*/
.grid{
  margin:0;
  padding:0;
  min-height:60px;
  .img{
    float:left;
    width:50px;
    height:50px;
    overflow:hidden;
    img{
      width:100%;
      min-height:50px;
    }
  }
  .g-content{
    margin-left:60px;
  }
  .g-right{
    text-align:right;
    line-height:18px;
    margin-bottom:5px;
  }
  .g-row{
    line-height:18px;
    margin-bottom:5px;
  }
  .g-title{
    font-weight:bold;
    margin-right:3px;
  }
  a.g-title{
    cursor:pointer;
  }
  .g-smalltitle{
    font-weight:normal;
    margin-right:3px;
  }
  a.g-smalltitle{
    cursor:pointer;
  }
}
/*end grid all*/
/*page*/
.box-page{
  text-align:right;
}
/*end page*/