//font 
@font-face{ 
    font-family: 'MyWebFont';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
         url('WebFont.woff') format('woff'),
         url('WebFont.ttf') format('truetype'),
         url('WebFont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'utm-french-vanilla';
    src: url("../fonts/utm-french-vanilla.eot?#iefix") format("embedded-opentype"),
        url("../fonts/utm-french-vanilla.woff") format("woff"),
        url("../fonts/utm-french-vanilla.woff2") format("woff2"),
        url("../fonts/utm-french-vanilla.ttf") format("truetype"),
        url("../fonts/utm-french-vanilla.svg") format("svg");
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"),
    url("../fonts/roboto/roboto-regular-webfont.svg#Roboto") format("svg");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-italic-webfont.woff") format("woff"),
    url("../fonts/roboto/roboto-italic-webfont.ttf") format("truetype"),
    url("../fonts/roboto/roboto-italic-webfont.svg#Roboto") format("svg");
} 
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-light-webfont.woff") format("woff"),
    url("../fonts/roboto/roboto-light-webfont.ttf") format("truetype"),
    url("../fonts/roboto/roboto-light-webfont.svg#Roboto") format("svg");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto/Roboto-MediumItalic?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff"),
    url("../fonts/roboto/Roboto-MediumItalict.ttf") format("truetype"),
    url("../fonts/roboto/Roboto-MediumItalic.svg#Roboto") format("svg");
}