/*frame*/
.box{
  padding: 80px 0;
	.box-title{
    text-align: center;
    margin-bottom: 60px;
		.lb-name{
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 1;
      font-size: 17px;
      padding-bottom: 15px;
      font-weight: bold;
      &:after{
        content: "";
        background: #000;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 42px;
        height: 3px;
        margin-left: -21px;
      }
		}
	}
}
/*end frame*/
/*navigator*/
.navigator{
  min-height: 128px;
  background: #fff;
}
.logo{
  float: left;
  margin: 22px 0 0;
}
.expand-menu{
  position: absolute;
  right: 12px;
  top: 16px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px;
  display: none;
  .em{
    display: block;
    background: #363636;
    height: 3px;
    margin-bottom: 4px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.menu{
  float: right;
  >ul{
    >li{
      float: left;
      >a{
        display: block;
        text-decoration: none;
        color: $txt_color;
        text-transform: uppercase;
        padding: 0 15px;
        line-height: 128px;
      }
      &.active{
        background: $bg_color; 
      }
      &:hover a,
      &.active a {
        color: #fff;
      }
    }
  }
}
@media (min-width: 768px){
  .menu{
    >ul{
      >li{
        &:hover{
          background: $bg_color;
        }
      }
    }
  }
}
/*end navigator*/
/*footer*/
.footer{ 
  padding: 40px 0;  
  .box_logo_ft {
    float: right;
  }
  .footer-left {
    .footer-content{
      p {
        color: #fff
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          color: #fff;
          margin-bottom: 5px;
          .font_icon_ft  {
            margin-right: 10px;
          }
          a {
            color: #fff;
          }
          &:hover a {
            text-decoration: none;
          }
        } 
      }
    } 
  }
  .footer-center {
    p {
      color: #fff; 
    }
  }
  .footer-label{
    color: #fff; 
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer_bottom {
    p {
      color: #fff;
      margin-bottom: 0;
      font-size: 12px;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
/*end footer*/