/*responsive mobile*/
@media (max-width: 767px){ 
  .pdl0 {
    padding-left: 15px;
  }
  .footer .box_logo_ft {
    float: none;
  }
  .page_utilities .introduce {
    padding: 0 15px 15px;
  }
  .page_design .introduce {
    padding: 0 0 15px;
  }
  .page_design .introduce .short-description,
  .page_design .box_list_desgin {
    margin-bottom: 0;
  }
  .sp{
    display: block !important;
  }
	.container{
		width:$mob_width;
		padding-left:15px;
		padding-right:15px;
	}
  .navigator{
    position: relative;
    z-index: 100;
    min-height: 66px;
  }
  .logo{
    margin: 20px 0; 
  }
  .expand-menu{
    display: block;
  }
  .menu{
    border-top: 1px solid #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
    display: none;
    @include box-shadow(0 5px 5px rgba(0,0,0,0.15));
    >ul{
      >li{
        float: none;
        >a{
          line-height: normal;
          padding: 15px 30px;
        }
      }
    }
  }
  .box{
    .box-title{
      margin-bottom: 30px;
    }
  }
  .main-slider{
    .owl-carousel{
      .owl-dots{
        bottom: 20px;
      }
    }
  }
  .h-item{
    h2{
      font-size: 23px;
      margin: 0 0 10px;
    }
    h3{
      font-size: 14px;
    }
    .ms-button{
      display: block;
      padding-bottom: 10px;
    }
  }
  .box-service{
    ul{
      margin-left: 0;
      margin-right: 0;
      li{
        float: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        width: auto;
        &:last-child{
          padding-bottom: 0;
        }
      }
    }
  }
  .service-item{
    padding: 30px 15px;
    max-width: percentage(250/290);
    margin: 0 auto;
    .si-desc{
      height: auto;
    }
  }
  .work-grid{
    ul{
      li{
        width: 50%;
      }
    }
  }
  .box-say{
    .box{
      .box-title{
        .lb-icon{
          padding-bottom: 20px;
        }
      }
    }
  }
  .say-item{
    padding-bottom: 0;
  }
  .box-yellow{
    .by-content{
      float: none;
      width: auto;
      text-align: center;
      margin-bottom: 20px;
    }
    .by-button{
      float: none;
      width: auto;
    }
  }
  .team-grid{
    margin-bottom: -20px;
    ul{
      margin-left: -7px;
      margin-right: -8px;
      li{
        width: 50%;
        padding-bottom: 20px;
        padding-left: 7px;
        padding-right: 8px;
      }
    }
  }
  .team-item{
    .ti-desc{
      height: 80px;
    }
  }
  .box-post{
    .post-left{
      float: none;
      width: auto;
      background: none;
      min-height: 0;
    }
    .post-right{
      float: none;
      width: auto;
      background: none;
      min-height: 0;
      padding: 0;
      .pr-title{
        display: none;
      }
      .grid{
        margin-bottom: 30px;
        .img{
          float: none;
          width: auto;
          height: auto;
          padding-top: percentage(143/286);
          position: relative;
          z-index: 1;
          img{
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
          }
        }
        .g-content{
          margin-left: 0;
          padding: 17px 0 0;
        }
        .g-title{
          text-transform: uppercase;
          color: #000;
          font-weight: bold;
        }
        .g-row{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .g-desc{
          display: block;
          height: 80px;
        }
      }
    }
  }
  .post-item{
    background: none;
    margin-bottom: 30px;
    .pi-thumb{
      padding-top: percentage(143/286);
    }
    .pi-content{
      padding: 17px 0 0;
    }
    .pi-row{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .box-contact{
    .contact-left{
      float: none;
      width: auto;
      margin-bottom: 30px;
    }
    .contact-right{
      float: none;
      width: auto;
    }
  }
  .box-connect{
    background-size: auto 100%;
    ul{
      li{
        width: 50%;
        padding-bottom: 55px;
      }
    }
  }
  .connect-outer{
    padding-bottom: 0;
    padding-top: 15px;
    margin-bottom: -55px;
  }
  .connect-item{
    .ci-thumb{
      margin-bottom: 12px;
    }
    .ci-title{
      margin-bottom: 7px;
    }
    .ci-desc{
      font-size: 12px;
    }
  }
  .footer{
    .footer-left{
      float: none;
      width: auto;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    .footer-right{
      float: none;
      width: auto;
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px; 
    }
  }
  .page_design p {
    padding: 0;
  }
  .title-page {
    padding: 30px 0 0;
  }
  .page_design .box_list_desgin .box_left_desgin {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .page_design .box_list_desgin .box_info_desgin {
    margin-bottom: 15px;
  }
  .page_design .box_list_desgin .box_right_desgin {
    width: 100%;
    margin-bottom: 15px;
  }
  .page_design .box_list_desgin .box_right_desgin .box_info_desgin {
    width: 50%;
    float: left;
    margin: 0;
    border-right: none;
  }
  .page_design .box_list_desgin .box_right_desgin .box_info_desgin:nth-child(2) {
    border-right: 1px solid #ddd;
  } 
  .main_maps .img_box {
    width: 100%;
    height: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .main_maps .text_box_right {
    margin-left: 0;
  }
  .main_coastal_hill .page_coastal_hill {
    padding: 15px;
  }
  .main_coastal_hill .page_coastal_hill .top_page_coastal .box_img_left {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    float: none;
    text-align: center;
  }
  .main_coastal_hill .page_coastal_hill .top_page_coastal .box_right_coastal {
    margin-left: 0;
  }
  .main_content .img_box {
    margin-bottom: 15px;
  }
  .page_utilities .box_list_tilities ul li .ls_box .text_caption p {
    font-size: 18px;
  }
  .page_utilities .box_list_tilities .ls_box_two .img_thumbs_ds {
    margin-bottom: 7px;
  } 
}
@media (max-width: 736px){
}
@media (max-width: 667px){
}
@media (max-width: 640px){
  .page_utilities .box_list_tilities ul li {
    width: 100%;
    float: none;
  }
  .page_utilities .box_list_tilities,
  .page_utilities .box_list_tilities ul li .ls_box {
    margin-right: 0;
  }
}
@media (max-width: 533px){ 
  .page_utilities .title-page .title_utilities:before,
  .page_utilities .title-page .title_utilities:after {
    display: none;
  }
}
@media (max-width: 480px){
}
@media (max-width: 414px){
  .main_content .fs_30 {
    font-size: 22px;
  }
}
@media (max-width: 375px){
  .main_content .box_text span.font_utm {
    font-size: 25px;
  }
}
@media (max-width: 360px){
	.maincontent{
		font-size:12px;
		line-height:20px;
		p{
			font-size:12px;
		}
	} 
}
@media (max-width: 320px){
}
/*end responsive mobile*/