/* TOP content */
.top_content {
  .info_top_content {
    min-height: 53px;
    line-height: 53px;
    p {
      margin-bottom: 0;
      color: #fff;
      font-family: $font-roboto-light;
    }
    ul {
      li {
        position: relative; 
        padding: 0 10px;
        a {
          color: #fff; 
        }
        &:hover a {
          text-decoration: none;
        }
        // .font_icon {
        //   font-size: 20px;
        //   margin-right: 5px;
        //   position: absolute;
        //   left: -5px;
        // }
        // .font_icon.font_icon_phone {
        //   border: 1px solid #ddd;
        //   padding: 5px 13px;
        //   border-radius: 100%;
        // }
        // .font_icon.font_icon_fb {
        //   position: static;
        //   border: 1px solid #ddd;
        //   padding: 5px 13px;
        //   border-radius: 100%;
        // }
      }
    }
  }
}
/* END Top Content */
/*main slider*/
.main-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-nav{
      .owl-prev, .owl-next{
        position: absolute;
        top:50%;
        left: 0;
        z-index: 10;
        margin-top: -22px;
        text-align: center;
        line-height: 43px;
        display: none;
        background: #fff;
        background: rgba(255,255,255,0.8);
        width: 38px;
        height: 43px;
      }
      .owl-next{
        left: auto;
        right: 0;
      }
      .owl-prev:before, .owl-next:before{
        content: "";
        width: 9px;
        height: 17px;
        display: inline-block;
        vertical-align: middle;
      }
      .owl-prev:before{
        background: url("../img/slider-button.png") no-repeat 0 0;
        margin-left: -2px;
      }
      .owl-next:before{
        background: url("../img/slider-button.png") no-repeat -9px 0;
        margin-right: -2px;
      }
      .owl-prev:hover, .owl-next:hover{
        background: #fff;
      }
    }
    .owl-dots{
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 12px;
      z-index: 10;
    }
    .owl-dot{
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      background: #fff;
      border: 1px solid $txt_color;
      @include border-radius(100%);
    }
    .owl-dot.active{
      background: $txt_color;
      border: 1px solid #fff;
    }
  }
  &:hover{
    .owl-carousel {
      .owl-nav {
        .owl-prev, .owl-next {
          display: block;
        }
      }
    }
  }
}
.h-item{
  position: relative;
  z-index: 1;
  .ms-caption{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .container{
      height: 100%;
    }
  }
  .ms-table{
    width: 100%;
    height: 100%;
    display: table;
  }
  .ms-cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  h2{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
  }
  h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 50px
  }
  .ms-button{
    display: inline-block;
    margin: 0 5px;
  }
}
/*end main slider*/ 
/* Main content */
.main_content {
  background: #fffcef;
  padding: 35px 0;
  h3 {
    color: $bg_color;
    position: relative;
    margin: 0 0 35px;
    &:before {
      content: '';
      width: 150px;
      height: 4px;
      background: $bg_color;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }
  .box_text {
    line-height: 25px;
    margin-bottom: 15px;
    p {
      margin-bottom: 0;
    }
    span.font_utm {
      font-family: 'utm-french-vanilla';
      color: $bg_color;
      font-size: 36px;
    }
  }
  .box_text.box_lh_35 {
    line-height: 35px;
  }
  .img_box {
    img {
      width: 100%;
    }
  }
  .fs_45 {
    font-size: 45px;
  }
  .fs_30 {
    font-size: 30px;
  }
}
/* END Main content */
/* Main Maps */
.main_maps {
  .img_box {
    width: 660px;
    height: 445px;
    float: left;
    border: 1px solid #ddd;
    padding: 10px;
  }
  .text_box_right {
    margin-left: 680px;
    h3 {
      margin: 0 0 20px;
      position: relative;
      color: $bg_color;
      &:before {
        content: '';
        height: 4px;
        width: 150px;
        background: $bg_color;
        position: absolute;
        left: 0;
        bottom: -10px;
      }
    }
    .title_box_right {
      color: $bg_color;
    }
  }
}
/* END Main Maps */
/* Main_coastal_hill */
.main_coastal_hill {
  .page_coastal_hill {
    padding: 30px;
    .top_page_coastal {
      margin-bottom: 50px;
      .box_img_left {
        width: 345px;
        height: 292px;
        border: 1px solid #c4c5c5;
        padding: 4px;
        background: #fff; 
        float: left;
        img {
          max-width: 100%;
        }
      }
      .box_right_coastal {
        margin-left: 370px;
        .introduce {
          padding: 0;
          .short-description {
            margin-bottom: 15px;
            p {
              color: $bg_color;
            }
          }
        }
      }
    }
    .bottom_page_coastal {
      .ls_coastal {
        border: 1px solid #c4c5c5;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  } 
}

/* END Main_coastal_hill */
/* introduce */
.pdl0 {
  padding-left: 0;
}
.btn-send {
  background: #00545f;
  padding: 0 10px;
}
.btn-send:hover {
  background: #00545f;
  border: 2px solid #fff; 
  color: #fff;
}
.main-content{
  background: url(../img/bg-content.png) no-repeat;
  background-position: left top;
  position: relative;
  z-index: 1;
}
.main_bg_bottom::after{
  content: '';
  background: url(../img/bg-content.png) no-repeat; 
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  z-index: 1;
}
.page{
  background-color: #fffcef;
  z-index: 9999;
  position: relative;
}
.title-page{
  padding: 30px 0 0;
  position: relative;
  text-align: center;
}
.introduce{
  padding: 0 8% 60px;
  p{
    font-size: 15px;
    color: #272727;
    text-align: justify;
    margin-top: 0;
  }
  .short-description{
    margin: 5px 0 30px;   
    font-family: 'Roboto-MediumItalict';
  }
  .content{
    p.note{
      color: #616161;
      font-size: 15px;
      text-align: center;
      margin: 15px 0 30px;
      font-style: italic;
      font-family: 'Roboto LightItalic';
    }
    img{
      margin: 35px auto 5px;
      max-width: 100%;
    }
    h3{
      color: #272727;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .contact{
    p{
      color: #272727;
    }
  }
}
/* end introduce */
/* Page Desgin */
.page_design {
  p {
    padding: 0 50px;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto-LightItalic';
  }
  .introduce {
    padding-bottom: 0;
  }
  .box_list_desgin {
    margin-bottom: 30px;
    .box_left_desgin {
      width: 780px;
      height: 560px;
      float: left;
      margin-right: 20px;
      display: inline-block;
    }
    .box_right_desgin {
      width: 370px;
      display: inline-block;
    } 
    .box_info_desgin {
      border: 1px solid #ddd;
      padding: 10px;  
      margin-bottom: 29px;
    }
  } 
}
.box_list .owl-carousel .owl-nav .owl-prev, 
.box_list .owl-carousel .owl-nav .owl-next {
    position: absolute;
    font-family: "Ionicons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    top: 50%;
    left: 0;
    z-index: 10;
    font-size: 30px; 
    margin-top: -35px;
    background: #00545f;
    opacity: 0.3;
    padding: 15px;
}
.box_list .owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 0;
}
.box_list .owl-carousel .owl-nav .owl-next:before {
    content: "\f3d3";
}
.box_list .owl-carousel .owl-nav .owl-prev:before {
    content: "\f3d2";
}

/* END Page Desgin */
/* Tien ich */
.page_utilities {
  .title-page {
    h3 {
      color: #00545f;
    }
    .title_utilities {
      font-family: 'utm-french-vanilla';
      font-size: 24px;
      color: #616161;
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      &:before {
        content: '';
        background: url('../img/title-left.png') no-repeat;
        width: 167px;
        height: 7px;
        position: absolute;
        left: -175px;
        top: 20px;
      }
      &:after {
        content: '';
        background: url('../img/title-right.png') no-repeat;
        width: 167px;
        height: 7px;
        position: absolute;
        right: -175px;
        top: 20px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .text-green {
      color: #4ea19f;
      font-size: 20px;
      i {
        margin: 0 5px;
      }
    }
  } 
  .box_list_tilities {
    margin-bottom: 50px;
    ul {
      padding: 0;
      margin: 0;
      li {
        width: 33.33%;
        float: left;
        .ls_box {  
          margin-right: 13px;
          margin-bottom: 13px;
          position: relative;
          .text_caption {
            position: absolute;
            bottom: 0;
            width: 100%;
            .text-oregeans {
              font-size: 48px;
              color: #d3a024;
            }
            p {
              font-family: 'utm-french-vanilla';
              position: absolute;
              bottom: 0;
              margin: 0;
              width: 100%;
              height: 68px;
              line-height: 68px;
              color: #fff;
              padding: 0 15px;
              z-index: 999;
              font-size: 30px;
            }
            .bg_overlay {
              position: absolute;
              bottom: 0;
              background: #000;
              width: 100%; 
              height: 68px; 
              opacity: 0.4;
              z-index: 2;
            }
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
    margin-right: -13px; 
    .ls_box_two {
      .img_thumbs_ds {
        margin-bottom: 13px;
        position: relative;
      }
    }
  }
}



/* END Tien ich */