/*sprite*/
[class*="icon14"]{
  width:14px;
  height:14px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon16"]{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon24"]{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon30"]{
  width:30px;
  height:30px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon32"]{
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon34"]{
  width:34px;
  height:34px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon57"]{
  width:57px;
  height:57px;
  display:inline-block;
  vertical-align:top;
}
.icon14-phone{
  background: url("../img/icon14-phone.png") no-repeat;
}
.icon14-email{
  background: url("../img/icon14-email.png") no-repeat;
}
.icon30-quote-left{
  background: url("../img/icon30-quote-left.png") no-repeat;
}
.icon34-outsouce{
  background: url("../img/icon34-outsouce.png") no-repeat;
}
.icon34-marketing{
  background: url("../img/icon34-marketing.png") no-repeat;
}
.icon34-brand{
  background: url("../img/icon34-brand.png") no-repeat;
}
.icon57-facebook{
  background: url("../img/icon57-facebook.png") no-repeat;
}
.icon57-twitter{
  background: url("../img/icon57-twitter.png") no-repeat;
}
.icon57-tumblr{
  background: url("../img/icon57-tumblr.png") no-repeat;
}
.icon57-dribbble{
  background: url("../img/icon57-dribbble.png") no-repeat;
}
/*end sprite*/