/*responsive tablet*/
@media (max-width: 991px){
	.container{
		width:$tab_width;
	}
  .box{
    padding: 60px 0;
  }
  .menu{
    >ul{
      >li{
        >a{
          font-size: 13px;
          padding: 0 10px;
        }
      }
    }
  }
  .h-item{
    h2{
      font-size: 48px;
    }
  }
  .box-say{
    background-size: auto 100%;
    background-position: -120px center;
  }
}
@media (min-width: 768px){
  .navigator-menu .menu{
    display: block !important;
  }
}
/*end responsive tablet*/
